.wbdv-add-module-button {
    margin: 12px;
}

.wbdv-course-title {
    font-size: 22px;
}

.wbdv-close-editor-button {
    margin: 15px
}

.wbdv-tabs-bar, .wbdv-pills-bar, .wbdv-widgets {
    margin-top: 15px
}